@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<OnlineMarket.Models.Post>
@{
    ViewData["Title"] = "Quản lý Posts";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách tin tức : page @ViewBag.CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">

            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminPosts" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm bài đăng</span></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Ngày viết</th>
                        <th>IsHot</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                    <tr>
                        <td>@item.PostId</td>
                        <td>@item.Title</td>
                        <td>@item.CreateDate</td>
                        <td>
                            @if (@item.Published == true)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Công khai</div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Không công khai</div>
                                </div>
                            }
                        </td>
                        <td>
                            @if (@item.IsHot == true)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Hot</div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>-</div>
                                </div>
                            }
                        </td>
                        <td>
                            @if (@item.IsNewFeed == true)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>NewFeed</div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>-</div>
                                </div>
                            }
                        </td>
                        <td>
                            <a asp-area="Admin" asp-controller="AdminPosts" asp-action="Details" asp-route-id="@item.PostId" class="btn btn-primary btn-tone m-r-5">View</a>
                            <a asp-area="Admin" asp-controller="AdminPosts" asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-secondary btn-tone m-r-5">Edit</a>
                            <a asp-area="Admin" asp-controller="AdminPosts" asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger  btn-tone m-r-5">Delete</a>
                        </td>
                    </tr>
                        }
                    }


                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminPosts" asp-action="Index"></pager>
                </ul>
            </div>
        </div>
    </div>
</div>