@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<OnlineMarket.Models.Order>
@using System.Data;
@{ var data = Model.AsEnumerable(); } 

@{
    ViewData["Title"] = "Danh sách đơn hàng - " + ViewBag.CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách đơn hàng - page @ViewBag.CurrentPage</span>
        </nav>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h1 class="m-b-0 text-muted">Tổng đơn</h1>
                    <h2 class="m-b-0">@Model.Count</h2>
                </div>
                 <div>
                    <h1 class="m-b-0 text-muted">Tổng giá trị </h1>
                    <span class="badge badge-pill badge-cyan font-size-12">
            
                         <h2 class="m-b-0">@Model.Sum(i=>i.TotalMoney).ToString("#,##0") VNĐ</h2>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <strong>Tổng cộng: @Model.TotalItemCount đơn hàng</strong>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminOrders" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm danh mục</span></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Đơn hàng</th>
                        <th>Ngày mua</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {

                            
                            if (@item.TransactStatus.Status == "Đã giao")
                            {
                                <tr>
                                    <td>@item.OrderId</td>
                                    <td>@item.Customer.FullName</td>
                                    <td>@item.OrderDate</td>
                                    <td>@item.TotalMoney.ToString("#,##0") VNĐ</td>
                                    <td style="color: green;text-align:center;font-weight:bold">@item.TransactStatus.Status</td>

                                    <td>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-primary btn-tone m-r-5">Xem đơn hàng</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Cập nhật trạng thái</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Chỉnh sửa</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger  btn-tone m-r-5">Xóa đơn hàng</a>
                                    </td>

                                </tr>
                            }
                        
          
                                
                            
                            else if (@item.TransactStatus.Status == "Đang giao")
                            {

                                <tr>
                                    <td>@item.OrderId</td>
                                    <td>@item.Customer.FullName</td>
                                    <td>@item.OrderDate</td>
                                    <td>@item.TotalMoney.ToString("#,##0") VNĐ</td>
                                    <td style="text-align:center;font-weight:bold">@item.TransactStatus.Status</td>

                                    <td>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-primary btn-tone m-r-5">Xem đơn hàng</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Cập nhật trạng thái</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Chỉnh sửa</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger btn-tone m-r-5">Xóa đơn hàng</a>
                                    </td>
                                </tr>
                            }
                            else if (@item.TransactStatus.Status == "Đã hủy")
                            {

                                <tr>
                                    <td>@item.OrderId</td>
                                    <td>@item.Customer.FullName</td>
                                    <td>@item.OrderDate</td>
                                    <td>@item.TotalMoney.ToString("#,##0") VNĐ</td>
                                    <td style="color: red;text-align:center;font-weight:bold">@item.TransactStatus.Status</td>

                                    <td>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-primary btn-tone m-r-5">Xem đơn hàng</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Cập nhật trạng thái</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Chỉnh sửa</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger  btn-tone m-r-5">Xóa đơn hàng</a>
                                    </td>
                                </tr>
                            }else if (@item.TransactStatus.Status == "Chưa giao")
                            {

                                <tr>
                                    <td>@item.OrderId</td>
                                    <td>@item.Customer.FullName</td>
                                    <td>@item.OrderDate</td>
                                    <td>@item.TotalMoney.ToString("#,##0") VNĐ</td>
                                    <td style="color: orange;text-align:center;font-weight:bold">@item.TransactStatus.Status</td>

                                    <td>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-primary btn-tone m-r-5">Xem đơn hàng</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Cập nhật trạng thái</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Chỉnh sửa</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger  btn-tone m-r-5">Xóa đơn hàng</a>
                                    </td>
                                </tr>
                            }

                        }
                    }


                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index"></pager>
                </ul>
            </div>
        </div>
    </div>
</div>